*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:white;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    text-align:center;
    width:90%;
    max-width:900px;
}

h1{
    margin-bottom:20px;
    font-size:2rem;
}

video{
    width:100%;
    border-radius:15px;
    box-shadow:0 0 20px rgba(255,255,255,0.2);
}

p{
    margin-top:15px;
    color:#ccc;
}
