*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#000;
    padding:10px;
}

.container{
    width:100%;
    max-width:1200px;
}

video{
    display:block;
    width:100%;
    height:auto;
    max-height:95vh;
    border-radius:12px;
}
